<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Git Workshop - Message Client</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style>
    .input-group {
      width: 100%;
    }

    .input-group-addon {
      width: 45%;
      text-align: left;
    }

    .form-control {
      width: 55%;
    }
  </style>
</head>

<body ng-app="simpleApp" ng-controller="MessagesCtrl">
  <div class="container">
    <div class="jumbotron">
      <h1>Git Workshop</h1>
      <h1><span class="glyphicon glyphicon-hand-right" style="forecolor:00ff00" aria-hidden="true"></span>&nbsp;Simple Messages Client</h1>
      <span class="label label-success" ng-show="version">Service Version {{version}}</span>
      <span class="label label-danger" ng-hide="version">No Service Version Connection</span>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-warning alert-dismissible" role="alert" ng-show="error.errorCode > 0">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> there was an request error ({{error.errorCode}}). Message: {{error.errorMessage}}
    </div>

<p>New Message</p>
      <div ng-model="newMessage" class="input-group">
        <label>
          <span class="input-group-addon">Message Title</span>
    <input type="text"
        class="form-control"
           name="newMessage.title"
           ng-model="newMessage.title"
           required />
  </label><br/>
        <label>
          <span class="input-group-addon">Message Body</span>
    <input type="text"
    class="form-control"
           name="newMessage.body"
           ng-model="newMessage.body"
           ng-maxlength=""
           required  />
  </label><br/>
        <label>
    <span class="input-group-addon">Your Name</span>
    <input type="text"
    class="form-control"
           name="newMessage.sender"
           ng-model="newMessage.sender"
           required />
  </label><br/>
        <button ng-click="addNew()">Add</button>
      </div>

    <!--<td><a href class="btn btn-default btn-sm" ng-click="cart.addArticle(article);">Add</a></td>-->

    <div class="container"><label>Filter:&nbsp;</label><input type="text" ng-model="search"></div><br />
    <div class="container">
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Message</th>
          <th>Created by</th>
        </tr>
        <tr ng-repeat="message in messages | filter:search">
          <td>{{message.id}}</td>
          <td>{{message.title}}</td>
          <td>{{message.body}}</td>
          <td>{{message.sender}}</td>
        </tr>
      </table>
      <label>Last update {{lastUpdate}}</label>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
